@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

/* body { // we have specified this in mui theme
  font-size: 1.5rem;
} */

.primaryMainText {
  color: var(--primaryMain);
}

.textSecondary {
  color: var(--textSecondary);
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.p-10 {
  padding: 1rem;
}

.ml-5 {
  margin-left: 0.5rem;
}

.ml-10 {
  margin-left: 1rem;
}

/******** Scrollbar *************/
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfe6e9;
}

::-webkit-scrollbar-track:hover {
  background: #d3f2f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8b6b8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ba7a9;
}
